pandas
sklearn.model_selection
sklearn.preprocessing
sklearn.compose
sklearn.pipeline
sklearn.linear_model
sklearn.metrics
joblib
streamlit
matplotlib.pyplot
seaborn
sklearn.tree
numpy
plotly.express
sklearn.linear_model.LinearRegression
sklearn.linear_model.Lasso
sklearn.linear_model.Ridge
sklearn.metrics.r2_score
sklearn.metrics.accuracy_score
sklearn.metrics.confusion_matrix
sklearn.metrics.classification_report
sklearn.metrics.ConfusionMatrixDisplay
os
pyngrok
sklearn.linear_model.LogisticRegression
sklearn.preprocessing.StandardScaler